@charset 'UTF-8';





/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body, input, textarea
	{
		font-family: 'Open Sans', sans-serif;
		line-height: 1.85em;
		color: #888;
		font-weight: 300;
	}

	a
	{
		color: #3B95C6;
		text-decoration: underline;
		-moz-transition: color .2s ease-in-out;
		-webkit-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
	}
	
		a:hover
		{
			color: #1B75A6 !important;
		}

		a img
		{
			border: 0;
		}

	
	
	p, ul, ol, dl, table
	{
		margin-bottom: 2em;
	}
	
	
	
	


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		background-image: url('images/bg.png');
		box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
	}

	.wrapper-first
	{
		box-shadow: none;
	}

	.wrapper-style1
	{
		background-image: none;
		background-color: #fff;
	}
	
	.wrapper-style2
	{
		background-color: #fafafa;
		text-shadow: 1px 1px 0px #fff;
	}
	
	.wrapper-style3
	{
		background-color: #f4f4f4;
		text-shadow: 1px 1px 0px #fff;
	}

	.wrapper-style4
	{
		background-color: #303030;
		color: #999;
		text-shadow: -1px -1px 0px #181818;
	}

		.wrapper-style4 h1, 
		.wrapper-style4 h2, 
		.wrapper-style4 h3, 
		.wrapper-style4 h4, 
		.wrapper-style4 h5, 
		.wrapper-style4 h6
		{
			color: #fff;
		}
		
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		background-color: #282828;
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000;
		cursor: default;
	}
	
		#nav ul
		{
			margin-bottom: 0;
		}
	
		#nav li
		{
			display: inline-block;
		}
		
		#nav a
		{
			position: relative;
			display: block;
			color: #fff;
			text-decoration: none;
			outline: 0;
		}
		
			#nav a:hover
			{
				color: #fff !important;
			}
			
			#nav a.active:before
			{
				content: '';
				display: block;
				position: absolute;
				bottom: -0.6em;
				left: 50%;
				margin-left: -0.75em;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				border-top: solid 0.6em #282828;
			}
			

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		color: #666;
	}
	
		#copyright a
		{
			color: inherit;

			-moz-transition: color .2s ease-in-out;
			-webkit-transition: color .2s ease-in-out;
			-o-transition: color .2s ease-in-out;
			-ms-transition: color .2s ease-in-out;
			transition: color .2s ease-in-out;
		}
		
		#copyright a:hover
		{
			color: #777;
		}